.footer-region-wrapper {
  width: 100%;
  background: $color-green-dark;
}

#footer {
  max-width: $centre-column-px;
  margin-left: auto;
  margin-right: auto;
  padding: $default-padding;
  @include breakpoint(tablet) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 83px;
  }
  a, h2 {
    color: $color-primary-contrast;
  }
  a {
    font-size: rem(13);
    font-weight: normal;
    text-decoration: none;
    padding: 0;
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
  .menu__item {
    display: block;
    float: none;
    .menu__link {
      &:before {
        display: none;
      }
    }
  }
  #block-menu-menu-footer-sub-menu {
    padding: 0;
    .block__content {
      &>ul.menu {
        @include breakpoint(tablet) {
          display: flex;
        }
        &>li {
          margin-bottom: 20px;
          @include breakpoint(tablet) {
            margin-bottom: 0;
          }
        }
        li {
          @include breakpoint(tablet) {
            margin-right: 20px;
          }
          &.expanded {
            float: none;
            &>a {
              font-size: rem(13);
              font-family: $open-bold;
              padding-bottom: 14px;
              &:hover {
                text-decoration: none;
              }
              &:before {
                border: 0;
              }
            }
          }
        }
      }
    }
  }
  #block-govcms-social-links-services {
    padding: 0;
    h2 {
      font-size: rem(13);
      font-family: $open-bold;
      position: relative !important;
      height: auto;
      width: auto;
      line-height: inherit;
      padding-bottom: 14px;
    }
    .block__content a {
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 20px;
      &:nth-child(1) {
        background-image: url('../images/png/icon_twitter.png');
        &:after {
          content: "Twitter";
        }
      }
      &:nth-child(2) {
        background-image: url('../images/png/icon_youtube.png');
        &:after {
          content: "YouTube";
        }
      }
      img {
        display: none;
      }
    }
  }
}
