html {
  // ..
}

body {
  background-color: white;
}

#page {
  box-shadow: none;
}

.sidebar .block {
  h2.block-title {
    font-family: $open-bold;
    font-weight: normal;
    font-size: rem(23);
    color: $heading-color;
    background: transparent;
  }
}
