// =========================================================
// LHS / RHS SIDEBARS
// =========================================================
#main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include breakpoint(desktop) {
    flex-wrap: nowrap;
  }
  &.no-sidebar {
    &>#content {
      width: 100%;
    }
  }
  &.has-two-sidebars {
    &>#content {
      width: 100%;
      @include breakpoint(desktop) {
        width: ($centre-column-px - (300 * 2));
      }
    }
  }
  &.has-sidebar {
    &>#content {
      width: 100%;
      @include breakpoint(desktop) {
        width: ($centre-column-px - 300);
      }
    }
  }
  &>#content {
    float: none;
    order: 2;
  }
  &>.sidebar-first {
    order: 1;
    width: 100%;
    @include breakpoint(desktop) {
      width: auto;
    }
    .region-sidebar-first {
      width: 100%;
      padding: $default-padding;
      @include breakpoint(desktop) {
        width: 300px;
      }
    }
  }
  &>.sidebar-second {
    order: 3;
    width: 100%;
    @include breakpoint(desktop) {
      width: auto;
    }
    .region-sidebar-second {
      width: 100%;
      @include breakpoint(desktop) {
        width: 300px;
      }
    }
  }
}

// =========================================================
// RESPONSIVE PANELS
// =========================================================
.panel-teqsa-home, .panel-3col-33-stacked {
  .panel-col-first, .panel-col, .panel-col-last {
    .inside {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 1em;
    }
  }
  .panel-col-first {
    float: none;
    width: 100%;
    @include breakpoint(tablet) {
      float: left;
      width: 33%;
    }
    .inside {
      @include breakpoint(tablet) {
        margin: 0 .5em 1em 0;
      }
    }
  }
  .panel-col {
    float: none;
    width: 100%;
    @include breakpoint(tablet) {
      float: left;
      width: 33%;
    }
    .inside {
      @include breakpoint(tablet) {
        margin: 0 .5em 1em .5em;
      }
    }
  }
  .panel-col-last {
    float: none;
    width: 100%;
    @include breakpoint(tablet) {
      float: left;
      width: 33%;
    }
    .inside {
      @include breakpoint(tablet) {
        margin: 0 0 1em .5em;
      }
    }
  }
}
