h1 {
  font-size: rem(48);
  color: #ffffff;
}

h2 {
  font-size: rem(40);
  color: $secondary_1;
}

h3 {
  font-size: rem(26);
  font-weight: $heading-font-weight;
  color: $secondary_1;
}

h4, h5, h6 {
  font-size: rem(18);
  font-weight: $heading-font-weight;
  color: $secondary_1;
}

html {
  color: $secondary_1;
}

blockquote {
  background-color: transparent;
  padding: .8em 0;
  margin: 0;
  &::before {
    content: none;
  }
  p {
    border-left: 5px solid $neutral_2;
    // Replace the bottom margin with padding so the borders blend.
    padding: 0.6em 2.4em .6em 2.4em;
    margin-bottom: 0em;
    &:last-of-type:not(:only-of-type) {
      font-size: .8em;
      &::before {
        content: '\2014 -';
      }
    }
  }
  p[style*="text-align: right"] {
    border-left: none;
    border-right: 5px solid $neutral_2;
    &:last-of-type:not(:only-of-type) {
      &::before {
        content: none;
      }
      &::after {
        content: ' \2014';
      }
    }
  }
}
