#content {
  form input[type="text"], label {
    color: $neutral_1;
  }
  input[type="submit"] {
    font-size: rem(16);
    color: #ffffff;
    background-color: $secondary_1;
    &:hover {
      background-color: $secondary_2;
    }
  }
}
