#content {
  .search-form {
    @include center-column($desktop_content_column);
    // 'Page not found' form has small differences from the search page version.
    .page-search404 & {
      padding-left: 0;
      padding-right: 0;
      .container-inline {
        display: flex;
        align-items: flex-end;
        label {
          display: block;
        }
      }
    }
    &>div {
      .page-search & {
        display: flex;
        align-items: flex-end;
      }
    }
    .form-item {
      margin: 0;
      // IE 10 Fix - using calc to overcome miscalculation of 100% with flex.
      width: calc(100% - #{rem(52px)});
    }
    input.form-text {
      @include search-text-field;
    }
    input.form-submit {
      @include search-submit-button;
    }
  }
}

#search-api-page-search-form-site-search {
  &>div {
    display: flex;
  }
  div.form-type-textfield input {
    placeholder: '';
  }
  input[type="submit"] {
    margin-top: 1.375rem;
    height: 2.4rem;
    background: url(../images/svg/magnifying_glass.svg) no-repeat center;
    width: 2.5rem;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    border: 2px solid #bbbbbb;
    border-left-width: 0;
  }
}

.search-results {
  padding: 0;
  .search-result {
    h3 {
      font-size: rem(26px);
    }
    .search-info {
      font-size: rem(14px);
      color: $neutral_2;
      text-transform: uppercase;
    }
  }
}
