// User variable names from colors.scss file to override them in this file.
// Primary branding colour.
$color-primary: #7A797A;
$color-primary-contrast: #FFF;
// Highlight colour.
$color-highlight: #464445;
$color-highlight-contrast: #FFF;
// Tertiary colours are used for borders and highlights requiring a neutral
// colour.
$color-tertiary-light: #f3f3f3;
$color-tertiary-dark: #616161;
// Colours of header and footer areas.
$color-header: #FFF;
$color-footer: $color-primary;
// Text colours.
$heading-color: #000000;
$body-text: #000000;
$body-text2: #444444;
// Form colours.
$form-border: #c0c0c0;
$form-background: #FDFDFD;
$form-compulsory-field: #D66D30;
// Maintenance colours.
$maintenance_primary: #006893;
$color-green-dark: #00373f;
$color-green-light: #18788D;
$color-green-grey: #979797;
$color-off-white: #f3f3f3;
$color-blue-light: #0098b0;
