/**
 * @file
 * Font declarations
 */

$base-font-family: Arial, sans-serif;
$open: 'OpenSansRegular', $base-font-family;
$open-bold: 'OpenSansBold', $base-font-family;
$open-semibold: 'OpenSansSemibold', $base-font-family;
$elegant: 'ElegantIcons', $base-font-family;
