// These variables keep form elements the same height.
$inputHeight: 35px;
$inputVPadding: 2px;
$borderWidth: 1px;
$textareaHeight: 138px;
.form-textarea-wrapper textarea {
  min-height: $textareaHeight;
}

@mixin form-text {
  padding: $inputVPadding 5px;
  background-color: #d8d8d8;
  border: 1px solid #979797;
  height: $inputHeight;
  width: 100%;
}

.form-item {
  max-width: 313px;
}

.form-item.webform-component-textarea {
  max-width: 584px;
  width: 100%;
}

.form-text {
  @include form-text;
}

.form-textarea {
  @include form-text;
  min-height: $textareaHeight;
}

.form-select {
  width: 100%;
  margin-bottom: 5px;
}

.webform-datepicker {
  .form-select {
    width: auto;
  }
}

input .form-submit, button {
  text-align: center;
  border: none;
  padding: 0 15px;
  height: $inputHeight;
}

.form-submit {
  @include standard-button;
}


/* Wrapper for a form element (or group of form elements) and its label. */

.form-item {
  label {
    font-size: rem(17);
    font-weight: normal;
  }
  /* Pack groups of checkboxes and radio buttons closer together. */
  .form-checkboxes &, .form-radios & {
    /* Drupal core uses "0.4em 0". */
    margin: 0.3em 0;
  }
  /* Form items in a table. */
  tr.odd &, tr.even & {
    margin: 0;
  }
  /* Highlight the form elements that caused a form submission error. */
  input.error, textarea.error, select.error {
    border: 1px solid #c00;
  }
  /* The descriptive help text (separate from the label). */
  .description {
    font-size: 0.85em;
  }
}

.form-type-radio, .form-type-checkbox {
  .description {
    margin-left: 2.4em;
  }
}


/* The part of the label that indicates a required field. */

.form-required {
  color: transparent;
  width: 10px;
  display: inline-block;
  white-space: nowrap;
  &:before {
    color: $form-compulsory-field;
    content: '*';
    display: inline;
  }
}


/* Labels for radios and checkboxes. */

label.option {
  display: inline;
  font-weight: normal;
}

fieldset {
  margin-bottom: 1em;
  background: $form-background;
  legend {
    background: #fff;
    color: rgb(75, 75, 75);
    border-radius: 0;
    border: 1px solid $form-border;
    padding: 0 5px;
    a, a:visited, a:active, a:hover {
      color: rgb(75, 75, 75);
    }
  }
}


/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */

.fieldset-legend {
  html.js .collapsible & {
    background-image: inline-image("menu-expanded.png");
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: image-url("menu-expanded.png");
    }
    background-position: 5px 65%;
    /* LTR */
    background-repeat: no-repeat;
    padding-left: 15px;
    /* LTR */
  }
  html.js .collapsed & {
    background-image: inline-image("menu-collapsed.png");
    /* LTR */
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: image-url("menu-collapsed.png");
      /* LTR */
    }
    background-position: 5px 50%;
    /* LTR */
  }
  .summary {
    color: #999;
    font-size: 0.9em;
    margin-left: 0.5em;
  }
}

// =========================================================
// MAILCHIMP SUBSCRIBE FORM
// =========================================================
#mc_embed_signup {
  max-width: 313px;
  width: 100%;
  // Inputs
  label {
    font-weight: normal;
    margin-bottom: $default-padding;
  }
  input[type="text"], input[type="email"] {
    @include form-text;
  }
  input[type="submit"] {
    @include standard-button;
    margin-top: $default-padding;
    margin-bottom: $default-padding;
  }
  .mc-field-group {
    margin-top: $default-padding;
    margin-bottom: $default-padding;
  }
  .input-group {
    .group-title {
      display: block;
    }
    li {
      margin-bottom: 15px;
      label {
        display: inline;
        margin-left: 5px;
        vertical-align: middle;
      }
      input[type="radio"] {
        display: inline;
      }
    }
  }
  // Hidden field
  div[aria-hidden="true"] {
    position: absolute;
    left: -5000px;
  }
  // Error styling
  div.mce_inline_error {
    border: 0 !important;
    background-color: transparent !important;
    color: #c00 !important;
  }
  input.mce_inline_error, textarea.mce_inline_error, select.mce_inline_error {
    border: 1px solid #c00 !important;
  }
  .asterisk {
    color: #000000;
  }
  label.error {
    @include messages-error;
    margin-top: 0;
    margin-bottom: $default-padding;
  }
}

.webform-component--comment {
  .form-textarea-wrapper {
    @include breakpoint(desktop) {
      width: 620px;
    }
  }
}

div[about='/register-provider'] {
  span.form-required::before {
    color: $body-text;
  }
}

.node-webform.view-mode-full {
  .field-name-body {
    max-width: 750px;
    .field-item {
      h2 {
        margin-top: 34px;
        margin-bottom: 34px;
      }
    }
  }
}
