$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;
$arial: Arial, sans-serif;
$base-font-family: $arial; // The font family set on the html element.
$open: 'OpenSansRegular', $base-font-family;
$open-bold: 'OpenSansBold', $base-font-family;
$open-semibold: 'OpenSansSemibold', $base-font-family;
$header-font-family: $open-bold;
$font-body: $arial;
$font-monospace: sans-serif;
$line-height-ratio: 1.4;
$base-font-size: 17; // The font size set on the root html element.
$base-line-height: $base-font-size * $line-height-ratio; // This line-height determines the basic unit of vertical rhythm.
$heading-line-height: $line-height-ratio;
// Tab styling.
$tabs-container-bg: #fff;
$tabs-border: #bbb;
$centre-column-px: 960px;
$default-padding: 1.4em;
